*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.nav{
  padding: 0 30px;
  background-color: #0bbf3e;
  color: black;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
  position: sticky;
  height: 3rem;
}

.nav ul{
  padding: 0;
  margin: 0;
  display: flex;
  list-style: none;
  gap:1rem;
}

.home{
  display: flex;
  justify-content: center;
  padding-top: 5rem;
}

.home input{
  height: 2rem;
  width: 17rem;
  padding: 0.7rem;
}

